html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.base-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: #222222;
  margin-bottom: 0;
  border-radius: 0;
}

.greeting {
  color: white;
  padding: 15px 20px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}

.footer {
  color: #ffffff;
  background-color: #222222;
  padding: 10px;
  flex-shrink: 0;
  width: 100%;

}

.body-content {
  margin-top: 50px;
  flex: 1 0 auto;
}
